extends index.pug

block content
    p Computer Id: #{comp.id}<br>Manufacturer: #{comp.manufacturer}<br>Make: #{comp.make}<br> Purchase Date: #{comp.purchase_date}

    input(type="button", value="Delete")
