extends index.pug

block content
    h1 Bangazon Workforce Management Computer Input Form
      form(method='POST', action=`/computers`)
        label(for="manufacturer") Manufacturer:
        input(type="text", name="manufacturer", required)
        br
        label(for="make") Make:
        input(type="text", name="make", required)
        br
        label(for="purchase_date") Purchase Date:
        input(type="date", name="purchase_date", required)
        br
        button(type="submit" id="submitComp") Submit