extends index.pug

block content
    ul
        each department in depts
            - url = `/departments/${department.id}`;
            li(class="lists"): a(href=url) #{department.id} | #{department.name}