extends index.pug

block content
    ul
        each employee in emps
            li Name: #{employee.first_name} #{employee.last_name}<br>Department: #{employee.Department.name}<br>Employee Id: #{employee.id}
