doctype html
html
  head
    title Bangazon Workforce Managament
    link(rel='stylesheet', href='../styles/styles.css')
  body
    include navbar.pug
    block content
script
    include ../node_modules/jquery/dist/jquery.js
    include ../public/main.js