doctype html
html
  head
    title Bangazon Workforce Management
    link(rel='stylesheet', href='../styles/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Prata')
  body
    include navbar.pug
    block content
    img(class ='bang' src='https://openclipart.org/image/2400px/svg_to_png/169112/bang-soundeffect.png')
script
    include ../node_modules/jquery/dist/jquery.js
    include ../public/main.js