h1(class="navTitle padBot") Bangazon Workforce Managament
    div(class="row")
    ul(class="nav")
    li(class="nav-item col-md-1") 
        li(class="nav-item col-md-2") 
            a(class="nav-link active" href="/") HOME
        li(class="nav-item col-md-2") 
            a(class="nav-link active" href="/computers") COMPUTERS
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/departments") DEPARTMENTS
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/employees") EMPLOYEES
        li(class="nav-item col-md-2")
            a(class="nav-link" href="/training") TRAINING
        li(class="nav-item col-md-1")