h1(class="navTitle padBot") 
    a(href='/') Bangazon Workforce Management
    div(class="row")
    ul(class="nav navbar")
        li(class="nav-item col-md-1") 
        li(class="nav-item col-md-2 ") 
            a(class=" nav-link active menuItem" href="/computers") COMPUTERS
        li(class="nav-item col-md-2 menuItem")
            a(class="nav-link menuItem" href="/departments") DEPARTMENTS
        li(class="nav-item col-md-2 menuItem")
            a(class="nav-link menuItem" href="/employees") EMPLOYEES
        li(class="nav-item col-md-2 menuItem")
            a(class="nav-link menuItem" href="/training") TRAINING
        li(class="nav-item col-md-1")