a.top-nav(href='/') Home || 
a.top-nav(href='/computers') Computers || 
a.top-nav(href='/departments') Departments || 
a.top-nav(href='/employees') Employees || 
a.top-nav(href='/training') Professional Development || 