extends index.pug

block content
  div(class="addComputer")
    div(class="marginLeft")
      form(method='POST', action=`/training/`)
        label(for="name") Training Program Name:&nbsp; 
        input(type="text", name="name", required)
        br
        label(for="max_attendees") Maximum Number of Attendees:&nbsp; 
        input(type="number", name="max_attendees", required)
        br
        label(for="start_date") Start Date: &nbsp; 
        input(type="date", name="start_date", required)
        br
        label(for="end_date") End Date: &nbsp;
        input(type="date", name="end_date", required)
        br
        button(type="submit" class="btn btn-secondary submitEmp" id="submitTrain") Submit